
/* main */

/* 見出しスタイル */


/* flexboxの効かせ方がわからない！ */
/* div .box1{
  display:flex;
} */

section{
  width:20%;
}



.blueline{
  border-top:3px solid #5b90bf;
  border-bottom:3px solid #5b90bf;
  height:60px;
  width:290px;
  position:relative;
  margin:10px;
}

.bluefont{
  color:#5b90bf;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.yumincho{
  font-family: serif;
}



.navyfont{
  color:#114778;
}

.smallfont{
  font-size: 1.3em;
  font-weight: 500;
}

.middlefont{
  font-size:1.7em;
  font-weight:500;
}


/* button */
.bluebutton{
  background-color:#1e73be;
  color:white;
  border-radius: 5px;
  border-style: none;
  width:200px;
  height:55px;
  font-size:16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.bluebutton:hover{
  background-color:#97acbf;
}

.whitebutton{
  background-color:white;
  color:#707070;
  border-style: none;
  width:200px;
  height:55px;
  font-size:16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.whitebutton:hover{
  background-color:#1E73BE;
  color:white;
}


.adjust70{
  /* width:70%; */
  width:900px;
  height:60px;
}

img.menuicon{
  width:32px;
  height:32px;
}


.charge_lists{
  background-color: #003c77;
  color:white;
}

  .whitebox{
    background-color: white;
  }

.strength{
  background-color:#f4f7fb;
}

.customer_voice{
  background-color:#ffedd3;
}

.kizi{
  background-color:#EAEAEA;
}

.youtube{
  background-color:#f6c8c5;
}

.srs{
  background-color:#c1dde6;
}

.pickup{
  background-color:#114778;
}

.index{
  background-color:#2a79bf;
}


/* 文スタイル */
span{
  font-weight:bold;
}

/* footer */
footer{
  background-color:#db044c;
}

/*  */



/* レイアウト */


/* header {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* ??? */
/* /* } */



.lists{
  display:flex;
  flex-direction: row;
  justify-content: center;
} 

.lists section{
  width:20%;
  height:600px;
  padding:20px;
} 

.sentence{
  text-align: justify;
  text-justify: inter-ideograph;
}

/* .lists img{
  width:290px;
  height:190px;
} */

body{
  overflow-x: hidden;
  margin:auto;
  text-align:center;
  max-width: 100%;
}


