
/* main */

/* 見出しスタイル */


/* flexboxの効かせ方がわからない！ */
div .box1{
  display:flex;
}

div section{
  width:30%;
}



.blueline{
  border-top:3px solid #5b90bf;
  border-bottom:3px solid #5b90bf;
  height:60px;
  position:relative;
  text-align: center;

}

/* なぜposition　relativeとabsoluteが効いてないのだろう… */
.blueline p{
  position:absolute;
  top:50%;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  
}

.yumincho{
  font-family: serif;
}

.bluefont{
  color:#5b90bf;
}

.navyfont{
  color:#114778;
}

.smallfont{
  font-size: 1.3em;
  font-weight: 500;
}

.middlefont{
  font-size:1.7em;
  font-weight:500;
}


/* button */
.bluebutton{
  background-color:#1e73be;
  color:white;
  border-radius: 5px;
  border-style: none;
  width:200px;
  height:55px;
  font-size:16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.bluebutton:hover{
  background-color:#97acbf;
}


.charge_lists{
  background-color: #003c77;
  color:white;
}

.strength{
  background-color:#f4f7fb;
}

.customer_voice{
  background-color:#ffedd3;
}

.kizi{
  background-color:#EAEAEA;
}

.youtube{
  background-color:#f6c8c5;
}

.srs{
  background-color:#c1dde6;
}

.pickup{
  background-color:#114778;
}

.index{
  background-color:#2a79bf;
}


/* 文スタイル */
span{
  font-weight:bold;
}

/* footer */
footer{
  background-color:#db044c;
}